.About {
  /* background: red; */
  padding-top: 10%;
  padding-bottom: 10%;
}

.About .Container {
  display: block;
  flex-wrap: wrap;
  box-shadow: 0 0 12px 4px #518697;
  color: whitesmoke;
  padding: 2em;
  margin-left: 13%;
  margin-right: 13%;
  line-height: 1.75em;
  font-size: 1em;
  /* font-weight: lighter; */
  border: 1px solid #518697;
}

.About .Container .Text {
  text-indent: 3%;
}

.About .Logos {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.About .Logos img {
  width: 35px;
  padding: 2%;
  opacity: 50%;
}