@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Emilys+Candy&family=Grape+Nuts&family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700&family=Orbitron:wght@500;700&family=Permanent+Marker&family=Prompt:ital,wght@0,300;1,500;1,700;1,900&family=Raleway:wght@400;500;600&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

.NavBar {
  background-color: #191D1F;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar .headerLogo {
  padding-right: 10%;
  /* padding-left: -5%; */
}

.NavBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar nav ul li {
  display: inline-block;
  margin: 20px;
}

.NavBar nav ul li a {
  text-decoration: none;
  color: white;
  /* font-weight: 900; */
  font-size: 1rem;
}

.NavBar h1 {
  color: #ffffff;
  letter-spacing: 4px;
}

.NavBar .shine {
  background: linear-gradient(90deg, #000, #fff, #000);
  /* letter-spacing: 4px; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  /* background-repeat: repeat; */
  background-size: 80%;
  animation: shine 9s linear infinite;
  position: relative;
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.NavBar .Hamburger {
  /* right: 0; */
  padding-left: 20%;
  color: whitesmoke;
}