/* Exhibitions Index Page CSS */

.Exhibitions {
  padding-top: 7%;
  padding-bottom: 2%;
}


.Exhibitions .HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ExhibitionsIndex .Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2%;
}

.Exhibitions .Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Exhibitions .Column {
  display: flex;
  flex-wrap: wrap;
}

.Exhibitions .Row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Exhibitions .Container img {
  max-width: 100%;
  /* border: 1px solid #518597; */
  /* padding: 2px; */
  box-shadow: 0 0 12px 4px #5185978c;
}

.ExhibitionsIndex .Container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.ExhibitionsIndex .Row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* padding-left: 5%;
  padding-right: 5%; */
}

.ExhibitionsIndex .Column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Exhibitions .Container .Text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .ExhibitionsIndex h1 h2 h3 h4 h5 p {
  color: black;
} */

.ExhibitionsIndex a {
  text-decoration: none;
}

.ExhibitionsIndex .Container .Row .ExhibitionsCover {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  /* border: 0.5px solid #518597; */
  /* border-radius: 17px; */
  box-shadow: 0 0 12px 4px #c5cee0;
  /* color: black; */
  /* padding: 5px; */
  text-align: center;
  /* font-size: 16px; */
  margin-left: 15px;
  margin-right: 15px;
  /* opacity: 0.8; */
  transition: 0.3s;
  max-width: 700px;
}

.ExhibitionsIndex .ExhibitionsCover {
  /* padding: 5px; */
  margin: 5%;
}




/* Single Exhibition Page */

.Exhibition {
  padding-top: 8%;
  padding-bottom: 2%;
}

.Exhibition .HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Exhibition .mySwiper {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Exhibition .mySwiper .swiperSlide img {
  max-width: 60%;
  padding-left: 20%;
  padding-top: 1%;
  object-fit: cover;
  padding-bottom: 1%;
}

.Exhibition .Swiper .Nav {
  margin: 15%;
}

.Exhibition .Container .Text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}

.ExhibitionText p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: light;
}

.Exhibition .swiperSlide p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: light;
  padding-top: 1%;
  padding-bottom: 3%;
}