.Exhibitions {
  padding-top: 7%;
  margin: 0% 10%;
}

.Exhibitions .Index{
  padding-bottom: 50%;
}

.Exhibitions .HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Exhibitions .Container {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Exhibitions .Row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Exhibitions .Container img {
  max-width: 100%;
  border: 1px solid #518597;
  box-shadow: 0 0 12px 4px #5185978c;
}

.Exhibitions .Container .blockColLeft{
  flex: 1;
  padding-left: 5%;
  position: absolute;
  max-width: 44%;
  left: 0;
}

.Exhibitions .Container .blockColRight{
  flex: 2;
  padding-right: 5%;
  position: absolute;
  max-width: 44%;
  right: 0;
}

.Exhibitions .mySwiper .swiperSlide img {
  max-width: 70%;
  padding-left: 15%;
  padding-top: 1%;
  object-fit: cover;
}

.Exhibitions .Container .Text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}

.ExhibitionText p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: light;
}