.Exhibitions {
  padding-top: 7%;
  margin: 0% 10%;
}

/* .Exhibitions {
  background-color: rgb(0, 85, 255);
} */

.Exhibitions .HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Exhibitions .Container {
  display: flex;
}

.Exhibitions .mySwiper .swiperSlide img {
  max-width: 70%;
  padding-left: 15%;
  /* padding-top: 2%; */
  object-fit: cover;
}

/* .Exhibitions .swiperNavNext .swiperNavPrev .swiper-button-prev {
  top: 50%;
  position: absolute;
  color: white !important;
  padding-left: 10%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */

.Exhibition .SwiperNavPrev swiper-button-prev {
  /* left:0; */
  color: white !important;
  /* background-image: url('./../img/carousel/arrow_left.png'); */
}

.SwiperNavPrev .swiper-button-next .swiper-rtl .swiper-button-prev {
  color: white !important;
}
.swiperNavNext {
  /* right:0; */
  color: white !important;
  /* background-image: url('./../img/carousel/arrow_right.png'); */
}

.Exhibitions .swiperNavPrev { color: red !important }

.Exhibitions .Item {
  min-height: 40rem; 
  min-width: 30rem;
  width: 100%;
  /* padding: 20px; */
}

.Item img {
  width: 1000px;
  height: 100%;
  /* border-radius: 1rem; */
  pointer-events: none;
}

.InnerCarousel {
  display: flex;
  width: 100%;
  background: #191d1f;
}

.Carousel {
  width: 100%;
  cursor: grab;
  overflow: hidden;
  background: #191d1f;
}

.ExhibitionText h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: light;
}