.Trips {
  padding-top: 7%;
  margin: 0% 10%;
}

.Trips .Index{
  padding-bottom: 50%;
}

.Trips .HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


.Trips .Container {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Trips .Row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Trips .Container img {
  max-width: 100%;
  border: 1px solid #518597;
  box-shadow: 0 0 12px 4px #5185978c;
}


.Trips .Container .blockColLeft{
  flex: 1;
  padding-left: 5%;
  position: absolute;
  max-width: 44%;
  left: 0;
}

.Trips .Container .blockColRight{
  flex: 2;
  padding-right: 5%;
  position: absolute;
  max-width: 44%;
  right: 0;
}

.Trips .mySwiper .swiperSlide img {
  max-width: 70%;
  padding-left: 15%;
  padding-top: 1%;
  object-fit: cover;
  padding-bottom: 2%;
}

.Trips .Container .Text {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 2%; */
}

.TripsText p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: light;
  padding-bottom: .8%;
}