.Book {
  /* background: red; */
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  /* padding-right: 10%; */
}

.Book .Container {
  padding-left: 45%;
}

.Book img {
  width: 300px;
}