.Book {
  padding-top: 7%;
  /* padding-bottom: 2%; */
}

.Book .Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1%;
}

.Book .Container {
  display: flex;
  justify-content: center;
}

.Book img {
  width: 450px;
}